
        /* default style for test */

        header {
            background-color: white;
        }

        li {
            margin-bottom: 10px;
        }

        span {
            width: 95%;
           padding: .5rem;
            border: 1px solid black;
            margin: .5rem;
            display: inline-block;
        }
              
        .container {
            border: 2px solid black;
        }

        .item {
            border: 2px solid blue;
            height: 10rem;
            width: 10rem;
            margin: 1rem;  
        }

        .mediaquery {
            border: 2px solid black;
        }

        .box {
            border: 2px solid black;
            height: 20rem;
            width: 20rem;
        }
        
        .relative, .absolute {
            border: 2px solid blue;
        }

        .relative {
            height: 10rem;
            width: 10rem;
        }

        .absolute {
            height: 5rem;
            width: 5rem;
        }

